{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "react-app",
    "eslint-config-prettier",
    "airbnb",
    "plugin:react/recommended"
  ],
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2018,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  },
  "rules": {
    "arrow-parens": ["error", "as-needed"],
    "consistent-return": 0,
    "react/prop-types": "warn",
    "eol-last": ["error", "always"],
    "import/no-unresolved": 0,
    "implicit-arrow-linebreak": 0,
    "indent": 1,
    "jsx-a11y/click-events-have-key-events": 0,
    "no-unused-vars": 1,
    "newline-after-var": ["error", "always"],
    "react/jsx-indent": 1,
    "semi": 1,
    "operator-linebreak": ["warn", "before"],
    "padding-line-between-statements": [
      "warn",
      { "blankLine": "always", "prev": "*", "next": "if" },
      { "blankLine": "always", "prev": "if", "next": "*" }
    ],
    "import/prefer-default-export": 0,
    "react/jsx-first-prop-new-line": [1, "multiline"],
    "react/jsx-filename-extension": 0,
    "react/jsx-props-no-spreading": 0,
    "react/require-default-props": 1,
    "react/forbid-prop-types": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "max-len": ["warn", { "code": 120, "ignoreStrings": true, "ignoreComments": true }],
    "object-curly-spacing": ["warn", "always"],
    "object-curly-newline": 1,
    "space-infix-ops": 1,
    "no-multiple-empty-lines": 1,
    "linebreak-style": 0,
    "import/no-cycle":0,
    "arrow-body-style": 1,
    "padded-blocks": 1,
    "newline-before-return": 1,
    "import/no-named-default": 0,
    "import/order": [
      "warn",
      {
        "groups": ["builtin", "external", "internal"],
        "pathGroups": [
          {
            "pattern": "react",
            "group": "external",
            "position": "before"
          }
        ],
        "pathGroupsExcludedImportTypes": ["react"],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ],
    "comma-spacing": 1
  }
}
